<body class="signInPage"><div class="signInPage">
<div class="blur">
</div>

</div>	
<div class="signInForm">
	<div>
		<h1 class="siteTitle">CuttingBoard</h1>
		<p>Your personal digital recipe box</p>
		<div class="form">
		<% if flash.now[:errors] %>
			<p class="errors">
				<%= flash.now[:errors].join(", ") %>
			</p>
		<% end %>
			<form action="<%= users_url %>" method="POST">
			  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			  <input type="text" name="user[firstname]" id="firstname" value="<%= @user.firstname %>" placeholder="First Name">
			  <br>
			  <input class="loginInput" type="text" name="user[lastname]" id="lastname" value="<%= @user.lastname %>" placeholder="Last Name">
			  <br>
			  <input class="loginInput" type="text" name="user[email]" id="email" value="<%= @user.email %>" placeholder="Email">
			  <br>
			  <input type="password" name="user[password]" id="password" placeholder="Password">
			  <br>
			  <input class="btn btn-primary loginButton" type="submit" value="Create Account">
			</form>
		</div>
	</div>

	<%# render "form", user: @user, action_url: users_url, submit_button: "Create Account" %>
	
	<p class="newUserUrl col-md-6" >Already a User? <a href="<%=new_session_url%>">Log In</a></p>
	</div>
